.gameboards {
  box-sizing: border-box;
  @include flexBox(center, center);
  @include mobile {
    flex-direction: column-reverse;
  }
  @include tablet {
    flex-direction: column-reverse;
  }
  @media (orientation: landscape) {
    flex-direction: row;
  }
  padding: 2%;

  .gameRules {
    justify-self: stretch;
    background-color: $infoGrey;
    padding: 1.5%;
    margin: 1.5%;
    min-width: 250px;
    max-width: 20%;
    @include borderRadius(3px);
    @include boxShadow(-3px 4px 15px -3px rgba(0, 0, 0, 0.6));
    p {
      margin: 2%;
    }
    div {
      .bold {
        font-weight: bolder;
      }
      .red {
        color: red;
      }
      .blue {
        color: blue;
      }
      .green {
        color: green;
      }
    }
  }

  .computer {
    @include shadedBorders(0.8vw, rgb(192, 4, 4));
    background-color: rgb(192, 4, 4);
  }
}

.gameboard {
  @include shadedBorders(0.8vw, $gameboardBckgrnd);
  margin: 0;
  width: min-content;
  height: min-content;
  background-color: $gameboardBckgrnd;
  padding: 1.5%;
  @media (orientation: portrait) {
    order: 1;
  }
  @include borderRadius(5px);
  .grid {
    margin-top: 5px;
    height: min-content;
    width: min-content;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    @include mobile {
      grid-template-columns: repeat(10, 20px);
    }
    @include fourK {
      grid-template-columns: repeat(10, 70px);
    }
    cursor: crosshair;
    .ship {
      color: transparent;
      background-color: orange;
    }
    .hit {
      color: transparent;
      background-color: red;
    }
    .miss {
      color: transparent;
      background-color: $bckgrndClr;
    }
    .sunk {
      color: transparent;
      background-color: green;
    }

    div {
      @include flexBox(center, center);
      @include boxShadow(0 0 0.3em inset &gridGreen);
      background-color: black;
      height: 30px;
      width: 30px;
      @include mobile {
        height: 20px;
        width: 20px;
      }
      @include fourK {
        height: 70px;
        width: 70px;
      }
      border: 0.1em solid $gridGreen;
      animation: monitorGlow 0.4s steps(100) infinite;
      @include mobile {
        &:hover {
          background-color: $gridGreen;
        }
      }
    }
  }
}
