.placeShips {
  @include flexBox(center, center);
  width: min-content;
  margin: 2% auto;

  .placeShipsInfo {
    background-color: rgb(42, 43, 49);
    height: max-content;
    padding: 3%;
    @include borderRadius(5px, 0, 0, 5px);
    @include boxShadow(
      inset -7px 0 10px -7px rgba(0, 0, 0, 0.7),
      -3px 4px 15px -3px rgba(0, 0, 0, 0.6)
    );

    .ships {
      margin-top: 10%;
      .ship {
        @include flexBox(center, flex-end);
        margin-top: 1vh;
        position: relative;
        width: min-content;

        .shipItem {
          color: transparent;
          border: 0.1em solid white;
          background-color: lightgray;
          width: 1.8vw;
          height: 1.8vw;
        }
        .currentShip {
          transform: scale(1.1);
          background-color: orange;
          @include boxShadow(0 0 0.3em white, 0 0 0.3em inset white);
        }
        .shipName {
          @include flexBox(center, center);
          position: absolute;
          z-index: 99999;
          height: 100%;
          width: 100%;
          color: transparent;
          &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
          }
          p {
            text-transform: uppercase;
            letter-spacing: 0.03vw;
            font-size: 0.5vw;
          }
        }
        img {
          position: absolute;
          z-index: 99999;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
  button {
    @include shadedBorders(0.3em, rgb(44, 44, 44), false);
    height: min-content;
    width: 100%;
    margin-top: 10%;
    text-transform: uppercase;
    font-family: $mainFont;
    font-size: 1vw;
    padding: 0.4em;
    color: white;
    background-color: $infoGrey;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      color: orange;
    }
    &::after {
      content: "";
      background: darken($infoGrey, 7%);
      position: absolute;
      z-index: -1;
      display: block;
      transition: all 0.35s;
    }
  }
  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }
  button.slide_horizontal::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }

  button.slide_vertical::after {
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
  }
}
