@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron&display=swap");

$bckgrndClr: #3437e6;
$gameboardBckgrnd: #17b6ff;
$gridGreen: rgb(0, 255, 42);
$infoGrey: rgb(44, 44, 44);
$mainFont: "Orbitron", sans-serif;
$headlineFont: "Black Ops One", sans-serif;
