@import "./variables";
@import "./animations";
@import "./mixins";
@import "./infoBoard";
@import "./gameboards";
@import "./placeShips";
@import "./playAgain";
@import "/node_modules/include-media/dist/_include-media.scss";

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: radial-gradient(circle at center, $bckgrndClr, black);
}

:root {
  font-size: 16px;
  @include tablet {
    font-size: 12px;
  }
  @include mobile {
    font-size: 10px;
  }

  @include fourK {
    font-size: 40px;
  }
}
.app {
  font-family: $mainFont;
  box-sizing: border-box;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
}

div {
  margin: 0;
}

h1 {
  font-family: $headlineFont;
  font-size: 7rem;
  @include mobile {
    font-size: 4rem;
  }
  text-transform: uppercase;
  margin: 0;
  background: -webkit-linear-gradient(#e1ff5c, rgb(194, 18, 18));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.01em black;
}

h2 {
  letter-spacing: 0.1em;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-size: 1rem;
}

button {
  height: min-content;
  text-transform: uppercase;
  font-family: $mainFont;
  font-size: 0.9rem;
  padding: 1%;
  color: white;
  background-color: $infoGrey;
  @include shadedBorders(0.3rem, $infoGrey, false);
  outline: none;
  &:hover {
    cursor: pointer;
    color: orange;
  }
}
