@import "./variables";
@import "./animations";
@import "./mixins";
@import "./infoBoard";
@import "./gameboards";
@import "./placeShips";
@import "./playAgain";
@import "/node_modules/include-media/dist/_include-media.scss";

html,
body,
.app {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.app {
  background: radial-gradient(circle at center, $bckgrndClr, black);
  font-family: $mainFont;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

div {
  margin: 0;
}

h1 {
  font-family: $headlineFont;
  font-size: 9.2vw;
  text-transform: uppercase;
  margin: 0;
  background: -webkit-linear-gradient(#e1ff5c, rgb(194, 18, 18));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.01em black;
}

h2 {
  letter-spacing: 0.1em;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1vw;
  @include media(">425px", "<=1024px") {
    font-size: 14px;
  }
  @include media("<=425px") {
    font-size: 10px;
  }
}

p {
  margin: 0;
  font-size: 16px;
  @include media("<=1024px") {
    font-size: 10px;
  }
}

button {
  height: min-content;
  text-transform: uppercase;
  font-family: $mainFont;
  font-size: 16px;
  padding: 2%;
  color: white;
  background-color: $infoGrey;
  @include shadedBorders(0.3rem, $infoGrey, false);
  outline: none;
  &:hover {
    cursor: pointer;
    color: orange;
  }
}
