@import "./variables";
@import "./animations";
@import "./mixins";
@import "./infoBoard";
@import "./gameboards";
@import "./placeShips";

html,
body {
  text-align: center;
  color: white;
  height: 100%;
  margin: 0;
  background: radial-gradient(circle at center, $bckgrndClr, black);
  font-family: $mainFont;
}

h1 {
  font-family: $headlineFont;
  font-size: 9.2vw;
  text-transform: uppercase;
  margin: 0;
  background: -webkit-linear-gradient(#e1ff5c, rgb(194, 18, 18));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.01em black;
}

h2 {
  font-size: 1.4vw;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

p {
  margin: 0;
  font-size: 1vw;
}
